<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="OutputDirectory" value="Output"/>
    <add key="UserServiceSwaggerUri" value="https://localhost:7236/swagger/v1/swagger.json" />
    <add key="UserServiceSwaggerOutputFileName" value="UserService.cs" />
  </appSettings>
</configuration>