<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      >

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Mongo"/>
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="allfile" fileName="/logs/basic-${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}| ${exception:format=tostring}" />

		<target xsi:type="Mongo"
          name="mongolog"
          connectionString="mongodb://root:admin123@authServiceLog:27017"
          collectionName="logs"
          databaseName="ntauthlog"
		  cappedCollectionSize="26214400"
          includeDefaults="true">

<field name="Date" layout="${date}" bsonType="DateTime" />
		  <field name="Level" layout="${level}"/>
  <field name="Message" layout="${message}" />
		</target>

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="info" writeTo="allfile" />
		<logger name="*" minlevel="info" writeTo="mongolog" />

	</rules>
</nlog>